
.kare{
 
width:2000px; 
 
height:300px; 
 
background-color:pink; 
 
}
.küp{
 
width:200px; 
 
height:300px; 
 
background-color:pink; 
 
}
.yor{
 
width:2000px; 
 
height:300px; 
 
background-color:pink; 
 
}